@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 5rem;
  border-bottom: 1px solid grey;
  /* background-color: #424242; */
  color: F7F8F9;
}

.posts {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f8f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
}

.posts h3 {
  font-size: 2rem;
}
.postAvatar {
  margin: 1.2rem;
}

.postDescription {
  /* padding-top: 3rem; */
}

.postImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  padding-bottom: 1.5rem;
}

.commentSection {
  border-top: 1px solid #eee;
}

.submitCommentBtn {
  margin-top: 13px;
}

.pagination {
  color: F7F8F9;
  background-color: rgba(255, 255, 255, 0.1);
}

.ant-pagination-item,
.ant-pagination-item-link {
  border-color: F7F8F9;
}

.ant-pagination-item a,
.ant-pagination-item-link {
  color: F7F8F9;
}

.commentContainer {
  border-radius: 8px;

  padding: 10px;
  margin-bottom: 10px;
}

.seeCommentsLink {
}
