.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 5rem;
  border-bottom: 1px solid grey;
  /* background-color: black; */
  color: white;
}

.posts {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
}

.postImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  /* margin-bottom: 1rem; */
}

.commentSection {
  border-top: 1px solid #eee;
}

.submitCommentBtn {
  margin-top: 13px;
}

.pagination {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.ant-pagination-item,
.ant-pagination-item-link {
  border-color: white;
}

.ant-pagination-item a,
.ant-pagination-item-link {
  color: white;
}

.commentContainer {
  border-radius: 8px;

  padding: 10px;
  margin-bottom: 10px;
}
