.navContainer {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(78, 76, 76, 0.5);
  background-color: white;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0.5rem 1rem; /* Equal padding on top and bottom */
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  padding-right: 1rem;
  color: black;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newAnnonsBtn {
  font-size: 15px;
  padding: 0.4em 1.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.newAnnonsBtn:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.newAnnonsBtn:active {
  transform: translate(0em, 0.2em);
}

.links {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  margin: 0 1rem;
}

.logo {
  padding: 0 0.5rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  color: black;
}

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1rem;
}

.link:hover {
  color: grey;
}
